@use '../../mixins' as function;
@use '../../colors' as colors;
@use '../StartGame' as *; // we are using the extend keyword to take the style from the actual startgame component

.questionContainer {
    @extend .startGame;

    figure {
       @extend .startGame__figure;
    
        img {
            width: min(function.rem(150), function.rem(150));
        }
    }

    &__wrapper {
        padding: 0 function.rem(20);

        &--p1 {
            font-size: function.rem(18);
        }
        h3 {
            font-size: function.rem(22);
            margin-bottom: function.rem(15);
        }
        &--btn {
          @extend .startGame__wrapper--btn;
          margin: function.rem(7) 0;
         
            &:hover {
                box-shadow: 4px 5px 20px rgba(0,0,0,0.3);
            }
            &.correct {
                background: colors.$correct;
                color: colors.$white;
            }
            &.wrong {
                background: colors.$wrong;
                color: colors.$white;
            }
        }
    }
}