@use '../mixins' as functions;
@use '../fonts' as font;
@use '../colors' as colors;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-size: 1rem;
    // font-weight: unset;
}

p {
    margin-top: 0;
}

.container {
    max-width: functions.rem(1200);
    margin: 0 auto;
    font-family: font.$fonts;
}

.game-container {
    margin: 0 auto;
    min-height: 100vh;


        // game-container close button which only exists in both startGame and questionContainer
        &--options{
            @include functions.flexCenter(row);
            justify-content: space-between;
            padding: functions.rem(10);
            font-family: inherit;
            background: colors.$dark-Blue;
        
            svg {
                fill: colors.$white;
                width: functions.rem(30);
                border: functions.rem(1) solid colors.$white;
                padding: functions.rem(10);
                border-radius: functions.rem(50);
                cursor: pointer;
                // &::before {
                //     content: '';
                //     width: 20px;
                //     height: 4px;
                //     background: red;
                // }
            }
            
            .timer {
                color: colors.$white;
                padding: functions.rem(5) functions.rem(10);
                cursor: pointer;
                border: functions.rem(5) solid colors.$border;
                border-radius: functions.rem(50);
            }

            .next {
                font-size: 1.1rem;
                color: colors.$white;
                cursor: pointer;
            } 
        }

    @include functions.breakpoints (medium) {
        max-width: functions.rem(700);
    }
}

.none {
    display: none !important;
}

