@use '../../mixins' as function;
@use '../../colors' as colors;

.header {
    @include function.flexCenter(row);
    justify-content: space-between;
    padding: function.rem(10);
    max-width: 100vw;
    font-family: inherit;
    box-shadow: function.rem(2) function.rem(4) function.rem(10) rgba(0,0,0,0.1);

    &__brand {

        h1 {
            font-size: function.rem(20);
            color: colors.$light-Blue
        }
    }

    &__categories {
        @include function.flexCenter(row);
        gap: function.rem(10);

        svg {
           width: function.rem(30);
           border: function.rem(1) solid colors.$light-Blue;
           padding: function.rem(3);
           border-radius: function.rem(50);
           fill: colors.$light-Blue;
           cursor: pointer;
        }
        
        form {
            select {
                border: function.rem(1) solid colors.$light-Blue;
                box-shadow: none;
                outline: none;
                padding: function.rem(4);
                font-size: function.rem(15);
                font-family: inherit;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 200;
        animation: fadeIn 1s ease;
        
    }
    &__modal {
        animation: fadeIn 1s ease;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: white;
        display: grid;
        place-content: center;
        box-shadow: 4px 5px 20px rgba(0,0,0,0.4);
        overflow-y: scroll;
        padding: function.rem(15);
        &::-webkit-scrollbar {
            display: none;
        }
        @include function.breakpoints(large){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100vw - 50vw);
            margin: function.rem(10) 0;
            height: calc(100vh - 20vh);
        }


        &--header {
            @include function.flexCenter(row);
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px;

            h2 {
                font-size: function.rem(22);
            }
            svg {
                width: function.rem(20);
                cursor: pointer;
            }
        }
        p {
            position: fixed;
            top: 8%;
            left: 0;
            right: 0;
            bottom: 8%;
            padding: 20px;
            font-size: function.rem(17);
            line-height: 1.5;
            margin: function.rem(10) 0;
            overflow-y: scroll;
            
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}